<div class="container-fluid bg-body-tertiary" style="min-height: 100vh">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white p-5 mt-5 rounded">
        <h3 class="mb-5">Add New Car</h3>

        <form action="/dashboard/addNewCar" method="POST">
          <div class="row mb-4">
            <div class="col-md-2">
              <label for="model" class="form-label">Model</label>
            </div>
            <div class="col-md-10">
              <input name="model" type="text" class="form-control" id="model" />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-2">
              <label for="year" class="form-label">Year</label>
            </div>
            <div class="col-md-10">
              <input
                name="year"
                type="number"
                class="form-control"
                id="year"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-2">
              <label for="rent_day" class="form-label">Sewa Per Hari</label>
            </div>
            <div class="col-md-10">
              <input
                name="rent_day"
                type="number"
                class="form-control"
                id="rent_day"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-2">
              <label for="capacity" class="form-label">Capacity</label>
            </div>
            <div class="col-md-10">
              <input
                name="capacity"
                type="number"
                class="form-control"
                id="capacity"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-2">
              <label for="photo" class="form-label">Photo</label>
            </div>
            <div class="col-md-10">
              <input class="form-control" type="file" name="photo" id="photo" />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-2">
              <label for="description" class="form-label">Description</label>
            </div>
            <div class="col-md-10">
              <textarea
                class="form-control"
                id="description"
                name="description"
                rows="3"
              ></textarea>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-md-10 offset-md-2">
              <a href="/dashboard/list-cars"
                ><button
                  type="button"
                  class="btn"
                  style="border-color: #0d28a6"
                >
                  Cancel
                </button></a
              >
              <button
                type="submit"
                class="btn text-white"
                style="background-color: #0d28a6"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
